<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :action, style: "display: block" %>
      <div class="p-2">
    <%= form.text_field :action %>
    </div>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
      <div class="p-2">
    <%= form.text_area :description %>
    </div>
  </div>

  <div>
    <%= link_to "Cancel", todos_path, class: "btn btn-warning" %>
    <%= form.submit "Add todo", class: "btn btn-secondary" %>
  </div>
<% end %>
